<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DataStandardDao">

    <insert id="insertFormatData" parameterType="String">
        insert into zdgfzdm (ZD,GFZ) values (#{ZD},#{GFZ})
    </insert>
    <!--PCDM-->
    <select id="fecthUnFormatData_PC" resultType="java.util.HashMap">
        select PCDM,PCMC from td_pcdm where NF=#{param1} and SFDM=#{param2} and PCDM
        in (select PCDM from t_tdd where NF=#{param1} and SFDM=#{param2})
    </select>
    <!--KLDM-->
    <select id="fecthUnFormatData_KL" resultType="java.util.HashMap">
        select KLDM,KLMC from td_kldm where NF=#{param1} and SFDM=#{param2} and KLDM
        in (select KLDM from t_tdd where NF=#{param1} and SFDM=#{param2})
    </select>
    <!--zdgfzdm-->
    <select id="fecthFormatData" parameterType="String" resultType="java.util.HashMap">
        select ZDGFZDM,GFZ from zdgfzdm where ZD=#{ZD}
    </select>
    <!--zdgfysdm-->
    <select id="fecthRelation" resultType="java.util.HashMap">
        select ZDBGFDM,ZDGFDM from zdgfysdm where NF=#{param1} and SFDM=#{param2} and ZD=#{param3}
    </select>
    <!--表中列名ZGGFZDM不规范   对应Dao中param2:GFZ param1:ZDGFZDM-->
    <update id="modifyFormatData">
        update zdgfzdm set GFZ=#{param2} where ZDGFZDM=#{param1}
    </update>
    <!--  对应Dao中param1:NF param2:SFDM  param3:ZD param4:ZDBGFZDM  param5:ZDGFZDM -->
    <delete id="deleteFieldRelation">
        delete from zdgfysdm where NF=#{param1} and SFDM=#{param2} and ZD=#{param3} and ZDBGFDM=#{param4} and ZDGFDM=#{param5}
    </delete>

    <insert id="biuldRelationship" parameterType="java.util.List">
        insert into ZDGFYSDM
        (NF,SFDM,ZD,ZDBGFDM,ZDGFDM)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.year,jdbcType=VARCHAR},
            #{item.provinceCode,jdbcType=INTEGER},
            #{item.field,jdbcType=VARCHAR},
            #{item.unFormatFieldCode,jdbcType=VARCHAR},
            #{item.formatFieldCode,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

</mapper>